bridge/n8n/corporate-llm-workflow.json
{
  "name": "Bridge — Generate Spec via Corporate LLM (Option C)",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bridge-generate-llm",
      "parameters": {
        "httpMethod": "POST",
        "path": "bridge-generate-llm",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-snapshot",
      "name": "Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BRIDGE_URL }}/snapshot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.BRIDGE_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ url: $json.body.url, credentialsPrefix: $json.body.credentialsPrefix, steps: $json.body.steps }) }}",
        "options": {}
      }
    },
    {
      "id": "node-build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BRIDGE_URL }}/build-prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.BRIDGE_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ testId: $('Webhook').item.json.body.testId, suiteName: $('Webhook').item.json.body.suiteName, description: $('Webhook').item.json.body.description, credentialsPrefix: $('Webhook').item.json.body.credentialsPrefix, url: $json.finalUrl, accessibilityTree: $json.accessibilityTree, suggestedLocators: $json.suggestedLocators }) }}",
        "options": {}
      }
    },
    {
      "id": "node-llm-chain",
      "name": "Generate Spec",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1020, 300],
      "parameters": {
        "prompt": "={{ $json.prompt }}",
        "options": {}
      }
    },
    {
      "id": "node-claude-model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1020, 500],
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "node-write-spec",
      "name": "Write Spec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BRIDGE_URL }}/write-spec",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.BRIDGE_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ testId: $('Webhook').item.json.body.testId, spec: $json.output }) }}",
        "options": {}
      }
    },
    {
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: $json.success, testId: $json.testId, filePath: $json.filePath }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Snapshot", "type": "main", "index": 0 }]]
    },
    "Snapshot": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Generate Spec", "type": "main", "index": 0 }]]
    },
    "Claude Sonnet": {
      "ai_languageModel": [[{ "node": "Generate Spec", "type": "ai_languageModel", "index": 0 }]]
    },
    "Generate Spec": {
      "main": [[{ "node": "Write Spec", "type": "main", "index": 0 }]]
    },
    "Write Spec": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
