bridge/n8n/snapshot-workflow.json
{
  "name": "Bridge — Snapshot (Test Generation)",
  "nodes": [
    {
      "id": "node-webhook-snapshot",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bridge-snapshot-trigger",
      "parameters": {
        "httpMethod": "POST",
        "path": "bridge-snapshot",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-http-snapshot",
      "name": "Call Bridge /snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BRIDGE_URL }}/snapshot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.BRIDGE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "node-respond-snapshot",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Call Bridge /snapshot", "type": "main", "index": 0 }]
      ]
    },
    "Call Bridge /snapshot": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
